/*
    CSS FOR ALL THE PAGES
*/
body{
    width: 100%;
}

.title{
    font-weight: 600;
    color: black;
}

.container{
    max-width: 1500px;
    margin: auto;
}

.centered{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px;
}

.race-info{
    /* width: 500px; */
    padding: 20px;
}

.race-info_col{
    margin-top: 2%;
    width: 500px;
    height: auto;

}

.race-info h3{
    font-size: 23px;
    float: right;
    margin-left: 15px;
    margin-top: 10px;
}

.race-info__item{
    display: flex;
    /* border: 2px solid green; */
    padding: 10px;
    border-bottom: 2px solid red;
    margin-top: 10px;
}

.icon{
    width: 50px;
    height: 50px;
}

.circuit-link{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.results-toggle {
    text-align: center;
    margin: 20px 0;
}
  
.results-toggle button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}
  
.results-toggle .active {
    font-weight: bold;
    background-color: #ff8484;
    box-shadow: rgb(0,0,0,0.3) 2px 2px 2px;
}
  

/*
    CSS HOMEPAGE
*/
.homepage__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.homepage__buttons_col{
}

.homepage__buttons__div{
    width: inherit;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage__buttons__div:hover{
    cursor: pointer;
}

.homepage__buttons__div {
    position: relative;
    overflow: hidden;
    width: 375px;
    height: 250px;
    
}

.homepage__buttons__div img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.homepage__buttons__div::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.homepage__buttons__div:hover img {
    transform: scale(1.1);
    filter: brightness(70%);
}

.homepage__buttons__div:hover::after {
    opacity: 1;
}

.homepage__hero-section{
    width: 100%;
    height: 500px;
    background-image: url("../assets/homepage.jpg");
    background-position: center;
    background-size: cover;
}

.c1_1{
    border-radius: 7px;
    border-top: 5px solid red;
    border-left: 5px solid red;
    margin-right: 70px;
}

.c1_1:hover{
    border: 0px solid red;
}

.c1_2{
    border-radius: 7px;
    border-top: 5px solid red;
    border-right: 5px solid red;
}

.c1_2:hover{
    border: 0px solid red;
}

.c2_1{ 
    border-radius: 7px;
    border-bottom: 5px solid red;
    border-left: 5px solid red;
    margin-top: 70px;
}

.c2_1:hover{
    border: 0px solid red;
}

.c2_2{
    border-radius: 7px;
    border-bottom: 5px solid red;
    border-right: 5px solid red;
    margin-top: 70px;
}

.c2_2:hover{
    border: 0px solid red;
}



.c1_1 img{
    padding: 5px;
}

.c1_2 img{
    padding: 5px;
}

.c2_1 img{
    padding: 5px;
}

.c2_2 img{
    padding: 5px;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Lobster', cursive; /* Font personalizzato da Google Fonts */
    font-size: 24px;
    text-align: center;
}