

.header-up{
    display: flex;
    background-color: #2e2e2e;
    
}

.header-bottom {
    display: flex;
    background-color: rgb(232, 15, 0);
    
}

.line-menu{
    width: "30px";
    height: "25px";
    border: 5px solid blue;
    background-color: white;
    margin-bottom: "5px";
}


.navbar-brand{
    margin-left: 200px;
}

.search-bar{
    margin-right: 200px;
}

.nav-item .nav-link{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.nav-item .nav-link{
    text-decoration: none;
    font-weight: 600;
    border-radius: 15px;
    margin: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nav-item .nav-link:hover{
    text-decoration: none;
    text-decoration: underline;
    font-weight: 700;
    border-radius: 15px;
}

.nav-item .nav-link:focus{
    color: aliceblue;
}

